Source: gamgi
Section: science
Priority: optional
Maintainer: Debichem Team <debichem-devel@lists.alioth.debian.org>
Uploaders: Daniel Leidert <dleidert@debian.org>,
           Michael Banck <mbanck@debian.org>
Build-Depends: debhelper-compat (= 13),
               libatk1.0-dev,
               libcairo2-dev,
               libexpat1-dev,
               libfreetype6-dev,
               libglib2.0-dev,
               libgtk2.0-dev,
               libgtkglext1-dev,
               libpango1.0-dev,
               sharutils
Standards-Version: 4.6.1
Homepage: http://www.gamgi.org/
Rules-Requires-Root: no
Vcs-Browser: https://salsa.debian.org/debichem-team/gamgi
Vcs-Git: https://salsa.debian.org/debichem-team/gamgi.git

Package: gamgi
Architecture: any
Depends: fonts-dejavu, ${misc:Depends}, ${shlibs:Depends}, sensible-utils
Suggests: gamgi-data, gamgi-doc
Description: General Atomistic Modelling Graphic Interface (GAMGI)
 The General Atomistic Modelling Graphic Interface (GAMGI) provides
 a graphical interface to build, view and analyze atomic structures.
 The program is aimed at the scientific community and provides a
 graphical interface to study atomic structures and to prepare images
 for presentations, and for teaching the atomic structure of matter.

Package: gamgi-doc
Architecture: all
Depends: ${misc:Depends}
Enhances: gamgi
Section: doc
Multi-Arch: foreign
Description: General Atomistic Modelling Graphic Interface (documentation)
 The General Atomistic Modelling Graphic Interface (GAMGI) provides
 a graphical interface to build, view and analyze atomic structures.
 .
 This package contains the HTML documentation.

Package: gamgi-data
Architecture: all
Depends: ${misc:Depends}
Suggests: ${perl:Depends}
Enhances: gamgi
Multi-Arch: foreign
Description: General Atomistic Modelling Graphic Interface (data)
 The General Atomistic Modelling Graphic Interface (GAMGI) provides
 a graphical interface to build, view and analyze atomic structures.
 .
 This package contains various data, example and script files.
